body { 
	font-family:merriweather; 
	font-size: 15px;
	text-align: center;
	background-color: #F9F5EC;
}
	

h1 {
	color:black;
	font-size:30px;
	font-weight: bolder;
}

 h2 {
 	color:black;
 	font-size:20px;
 	font-style: italic;
 	font-style: bold;
}

h3 {
	font-size: 15px;
	font-weight: lighter;
}

h4 { font-size:13px; 
	font-weight: lighter;
	padding-bottom: 20px;

}


img {
	display: block;
	width: 45%;
	padding: auto;
	margin-left: auto;
	margin-right: auto;
}


p {
	font-weight:lighter;
	margin: 20.1px;
	 padding: auto;}

