body { 
	font-family:merriweather; 
	font-size: 15px;
	text-align: center;
	background-color: #F9F5EC;
}
	

h1 {
	color:black;
	font-size:30px;
	font-weight: bolder;
}

 h2 {
 	color:black;
 	font-size:20px;
 	font-style: italic;
 	font-style: bold;
}

h3 {
	font-size: 15px;
	font-weight: lighter;
}

h4 { font-size:13px; 
	font-weight: lighter;
	padding-bottom: 20px;

}

h5 {
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 20px;
}



.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


p {
	font-weight:lighter;
	margin-left: 200px;
	margin-right: 200px;
	padding: 5px;
	line-height: 30px;
}


