body { 
	font-family:merriweather; 
	background-color: #F9F5EC;
	margin-top: auto;
	margin-bottom: 50px;
}
	

h1 {
	color:black;
	font-size:30px;
	font-weight: bolder;
	text-align: center;
}

 h2 {
 	color:black;
 	font-size:20px;
 	font-style: italic;
 	font-style: bold;
 	text-align: center;
}

h3 {
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
}

h4 { font-size:13px; 
	font-weight: lighter;
	padding-bottom: 20px;
	text-align: center;

}

h5 {
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 20px;
	text-align: center;
}

h6 {
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 20px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 20px;
}

.graph { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 20px;
 }

p {
	font-size: 15px;
	font-weight:lighter;
	padding: 5px;
	line-height: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

